*.ipynb_checkpoints
*.ipynb
all_frames/
lenta_dataset.zip
lenta_dataset/
price_tag/
*.pt
runs/
*.yaml

# Env
.env
.venv/
env/
venv/
.idea/
*.swp

# System
.DS_Store
Thumbs.db

# Files
/dataset
/raw_data
/runs